@font-face {
  font-family: caxo;
  src: url(./fonts/Caxo-4BJnx.otf);
}

:root {
  --text-color: #d1d5db;
  --brand-color: rgb(255, 115, 0);
  --form-background-color: rgba(11, 11, 11, 0.575)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family:'Courier New', Courier, monospace
}

.left-side {
  flex: 1.2;
  height: 100%;
  background-image: url("./images/mars.jpg");
  background-size: cover;
  position: relative
}

.form-side {
  flex: 2;
  background-color: black;
  color: var(--text-color);
  font-size: 1.2rem;
}

.transparent {
  position: relative;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  top: 185px;
  font-size: 2rem;
  font-weight: 1000;
  font-family: caxo;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}

.rocket {
  height: 100px;
}

.description {
  margin-top: 160px;
  line-height: 28px;
}

.sign-up {
  margin-top: 10px;
}

.action-call {
  margin-top: 30px;
}

.description,
.sign-up,
.action-call {
  margin-left: 20px;
  margin-right: 20px
}

form {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-color: var(--form-background-color);
  margin-top: 90px;
  border-radius: 8px;
  box-shadow: 1px 1px 15px rgba(253, 244, 245, 0.402);
  padding: 20px;
}

.form-title {
  font-weight: 900;
  font-size: 1.4rem;
  color: white;
}

.form-container {
  display: flex;
  flex: 1;
  gap: 20px;
}

.left-form-side,
.right-form-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

input, button, label{
  font-family: inherit;
  font-size: 100%;
  width: 100%;
}

label {
  font-size: 0.9rem;
}

button {
  margin: 40px 20px;
  width: 250px;
  height: 50px;
  color: var(--brand-color);
  background-color: black;
  border-radius: 5px;
  border-color: var(--brand-color);
  cursor: pointer;
  font-weight: 900;
}

button:hover,
button:active {
  background-color: var(--brand-color);
  color: black;
  font-weight: 900;
  border-radius: 5px;
}

.log-in {
  margin-left: 20px;
}

.log-in a {
  display: inline-block;
  color: var(--brand-color);
  font-weight: 900;
  margin-left: 5px;
  text-decoration: none;
}

.log-in a:hover,
.log-in a:active {
  color: white;
}

input {
  background-color: black;
  border: 0.2px rgba(253, 244, 245, 0.3) solid;
  color: white;
  padding: 2px;
  border-radius: 5px;
}

input:hover {
  border: var(--brand-color) solid;
}

input:active {
  outline: none;
  border: var(--brand-color) solid;
}